.fixed-size-container{
	max-width: 1400px;
	margin:40px auto 0 auto;
	background-color: #FFF;
	padding:30px 0 solid;
	display:flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	flex-direction: column;
}

.fixed-size{
	width: 150px;
	height: 100px;
	background-color: #990b47;
	color: #FFF;
	text-align: center;
	margin-bottom: 20px;
	line-height: 100px;
	flex:1; 
}
